:root {
  /* Text/font */
  --headingFont: "Ubuntu", sans-serif;
  --bodyFont: "Ubuntu Mono", monospace;
  --h1: 3.052em;
  --h2: 2.441em;
  --h3: 1.953em;
  --h4: 1.563em;
  --h5: 1.25em;
  --smallFont: 0.8em;
  --textOpacity: 0.9;

  /* Positioning */
  --containerPadding: 1em;
  --headerHeight: 3rem;
  --borderRadius: 5px;

  /* Elevation */
  --layer-0: none;
  --layer-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --layer-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

@import url("https://fonts.googleapis.com/css?family=Ubuntu:400|Ubuntu+Mono:500");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@562&family=Modak&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
} /*16px*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  max-width: 50rem;
  margin: auto;
}

body {
  font-family: var(--headingFont);
  font-weight: 500;
  line-height: 1.65;
  background: var(--backgroundColor);
  color: var(--textColor);
  opacity: var(--textOpacity);
}

header {
  background: var(--headerBackground);
  box-shadow: var(--level-2);
  color: var(--headingColor);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--headerHeight);
  padding: var(--containerPadding);
  border: var(--border);
}

header h1 {
  font-size: 2rem;
  margin: 0;
}

header nav a {
  color: var(--textColor);
  text-decoration: none;
}

header nav a + a {
  margin-left: 10px;
}

footer {
  background: var(--headerBackground);
  border: var(--headerBorder);
  text-align: center;
  padding: 1em;
}

footer p {
  padding-bottom: 0;
  max-width: none;
}

article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-items: center;
}

article > h2 {
  grid-column: 1 / span 2;
}

article > section {
  height: 100%;
}

section {
  background: var(--cardBackground);
  padding: 1em;
  border-radius: var(--borderRadius);
  vertical-align: center;
  grid-column: 1 / -1;
  border: var(--border);
}

section.card {
  grid-column: span 1;
}

section > *:first-child {
  margin-top: 0;
}

section > *:last-child {
  margin-bottom: 0;
}

aside {
  position: sticky;
  bottom: 0;
  background: var(--backgroundColor);
  padding: 1em;
  border: var(--line);
}

p {
  margin-bottom: 1.15rem;
  max-width: 50em;
}

p a,
li a {
  color: var(--textColor);
  text-decoration: none;
  border-bottom: dashed 1px var(--primary);
}

p a:hover,
li a:hover {
  border-style: var(--linkHoverBorder);
  border-width: thin;
  border-bottom: solid 2px var(--primary);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: var(--bodyFont);
  font-weight: 500;
  line-height: 1.15;
  color: var(--headingColor);
}

h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

figure {
  margin: auto;
  max-width: 90%;
}

img {
  max-width: 100%;
  border-radius: var(--borderRadius);
  box-shadow: var(--layer-1);
}

figcaption {
  text-align: center;
  font-style: italic;
}

code {
  border: var(--line);
  display: block;
  width: 100%;
  color: var(--primary);
  background-color: #000;
  padding: 1em;
}

label {
  display: block;
  font-size: var(--smallFont);
  padding-top: 5px;
}

button {
  appearance: none;
  color: var(--buttonTextColor);
  background-color: var(--buttonColor);
  border: none;
  border-radius: var(--borderRadius);
  padding: 5px 25px;
  box-shadow: var(--level-1);
  transition: 0.3s ease-in-out box-shadow;
  margin: 3px 0;
}

button:hover,
input[type="range"]::-webkit-slider-thumb:hover {
  filter: brightness(85%);
}

button.cancel {
  background: var(--danger);
  color: var(--cancelTextColor);
}

button[disabled] {
  opacity: 0.4;
}

input,
select,
textarea {
  padding: 4px 5px;
  border: 1px solid var(--secondary);
  border-radius: var(--borderRadius);
}

input[type="range"] {
  /* Override default CSS styles */
  -webkit-appearance: none;
  appearance: none;
  outline: none;

  background: var(--white);
  height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: var(--line);
  border-radius: 50%;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: var(--secondary); /* Green background */
  cursor: pointer;
}

hr {
  border-color: var(--textColor);
}

textArea {
  width: 30em;
  height: 4em;
}

blockquote {
  border-left: 2px solid var(--secondary);
  padding-left: 1em;
  max-width: 40em;
}

.layout {
  /* top padding header height + visual heading */
  padding: calc(3rem + var(--headerHeight)) var(--containerPadding);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1em;
  align-items: center;
}

form > .grid {
  grid-template-columns: repeat(2, min-content);
}

small,
.small {
  font-size: var(--smallFont);
}

/* Custom themes */
.mellow-green {
  /* Colors */
  --black: #222629;
  --darkGray: #474b4f;
  --gray: #6b6e70;
  --white: #fefffa;
  --darkGreen: #415d1d;
  --green: #86c232;
  --red: #ff0000c2;

  /* Intentions */
  --primary: var(--green);
  --secondary: var(--darkGreen);
  --backgroundColor: var(--black);
  --textColor: var(--white);
  --headingColor: var(--textColor);
  --cancelTextColor: var(--white);
  --danger: var(--red);
  --cardBackground: var(--darkGray);
  --headerBackground: var(--darkGreen);
  --border: none;
  --buttonColor: var(--primary);
  --buttonTextColor: var(--black);
  --line: 1px solid var(--textColor);
}

.hacker {
  /* Colors */
  --black: #000;
  --green: #03e400;
  --windowsGray: #c0c0c0;

  /* Intentions */
  --primary: var(--green);
  --secondary: var(--green);
  --backgroundColor: var(--black);
  --borderRadius: none;
  --textColor: var(--green);
  --linkHoverBorder: solid;
  --line: solid 2px var(--green);
  --cardBackground: var(--black);
  --headerBackground: var(--black);
  --border: var(--line);
  --buttonTextColor: var(--black);
  --buttonColor: var(--windowsGray);
  --danger: var(--windowsGray);
  --cancelTextColor: var(--buttonTextColor);
  --headingColor: var(--green);
  --headingFont: "Roboto Mono", monospace;
  --bodyFont: "Roboto Mono", monospace;
}

.inaccessible {
  /* Colors */
  --white: white;
  --offWhite: #f3f2f2;

  /* Intentions */
  --primary: var(--white);
  --secondary: var(--offWhite);
  --backgroundColor: var(--primary);
  --textColor: var(--secondary);
  --cancelTextColor: var(--secondary);
  --danger: var(--secondary);
  --cardBackground: var(--secondary);
  --headerBackground: var(--primary);
  --border: none;
  --buttonColor: var(--primary);
  --buttonTextColor: var(--primary);
  --line: 1px solid var(--secondary);
}

.my-little-pony {
  /* Colors */
  --blizzardBlue: #9adde6ff;
  --creamyPurple: #c7b9d2ff;
  --forestGreen: #4ea561ff;
  --celadonBlue: #157eabff;
  --orangeYellow: #fdd97bff;

  /* Intentions */
  --primary: var(--creamyPurple);
  --secondary: var(--orangeYellow);
  --danger: var(--orangeYellow);

  --buttonColor: var(--primary);
  --backgroundColor: var(--blizzardBlue);
  --cardBackground: var(--primary);
  --textColor: var(--celadonBlue);
  --headerBackground: var(--primary);
  --headingColor: var(--secondary);
  --line: 5px dashed var(--secondary);
  --border: var(--line);
  --headingFont: "Modak", cursive;
  --bodyFont: "Dancing Script", cursive;
}
